uwsgi
pycodestyle
pylint
django_extensions
sentry-sdk
Pillow
pymongo
gspread
oauth2client
attrs
python3-anticaptcha
prettytable
asgiref==3.5.2
certifi==2022.9.24
charset-normalizer==2.1.1
Django==4.1.4
django-ckeditor==6.5.1
django-grappelli==3.0.3
django-js-asset==2.0.0
djangorestframework==3.14.0
geographiclib==1.52
geopy==2.2.0
idna==3.4
psycopg2==2.9.5
PyMySQL==1.0.2
pytz==2022.5
requests==2.28.1
sqlparse==0.4.2
urllib3==1.26.12
babel
bleach[css]>=6,<7
django-nyt>=1.2.2
django-mptt>=0.13,<0.15
django-sekizai>=0.10
sorl-thumbnail>=12.8,<13
Markdown>=3.3,<3.4
APScheduler==3.10.1
pandas
xlrd
django-allauth
