:root {
	--bs-body-bg: #F8F8F8;
	--pd-0: 0;
	--pd-1: 5px;
	--pd-2: 10px;
	--pd-btn: 12px;
	--pd-3: 15px;
	--pd-4: 20px;
	--pd-5: 25px;
	--color-black: #191919;
	--color-main: #A16341;
	--color-main-dark: #814f34;
	--color-light: #FBECDA;
	--color-light-gray: #DBE1ED;
	--color-dark-gray: #889CB9;
	--border-radius: 45px;
	--bs-primary: red;
}

body {
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
}

.messages {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

h3 a {
	color: var(--color-dark-gray);
}
h3 a:hover {
	color: var(--color-black);
}

.navbar {
	background-color: white;
}

.logo {
	margin-top: 14px;
}

.navbar-container {
	padding-left: var(--pd-4);
	padding-right: var(--pd-4);
}

.navbar-toggler {
	color: var(--color-main);
	background-color: var(--color-light);
	padding: 6px;
	border-radius: var(--pd-4);
	border-color: var(--color-main);
}

.nav-item {
	margin: 0;
}

@media (min-width: 1200px) {
	.nav-item {
		margin: 0 var(--pd-2);
	}
}

.nav-link {
	white-space: nowrap;
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: var(--pd-2) var(--pd-2);
	}
	.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
		color: white;
		background-color: var(--color-main);
		border-radius: var(--border-radius);
	}

	.account-page-link {
		border: 1px solid var(--color-light-gray);
		border-radius: var(--border-radius);
	}
}

.login-form-container {
	background-color: white;
}

.modal-header {
	color: #191919;
	font-family: Playfair Display;
	font-size: 30px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.secondary-text {
	color: var(--color-dark-gray);
}

.login-form-description, .login-form-footer {
	text-align: center;
}

.login-form-footer {
	font-size: 12px;
}

.crystal-button {
	color: white;
	border-radius: var(--border-radius);
	padding: var(--pd-btn) 0;
	min-height: 50px;
}
.btn.crystal-button.active, .btn.crystal-button.show, .btn.crystal-button:first-child:active, .crystal-button:hover, .crystal-button:focus-visible, :not(.btn-check) + .crystal-button.btn:active {
	color: white;
}

.vk-button {
	background-color: #439BFF;
	border: none;
}
.btn.vk-button.active, .btn.vk-button.show, .btn.vk-button:first-child:active, .vk-button:hover, .vk-button:focus-visible, :not(.btn-check) + .vk-button.btn:active {
	background-color: #367ccc;
}

.google-button {
	background-color: #FF5F52;
	border: none;
}
.btn.google-button.active, .btn.google-button.show, .btn.google-button:first-child:active, .google-button:hover, .google-button:focus-visible, :not(.btn-check) + .google-button.btn:active {
	background-color: #cc4c42;
}

.gray-button {
	color: var(--color-dark-gray);
	background-color: white;
	border: 1px solid var(--color-dark-gray);
}
.btn.gray-button.active, .btn.gray-button.show, .btn.gray-button:first-child:active, .gray-button:hover, .gray-button:focus-visible, :not(.btn-check) + .gray-button.btn:active {
	color: white;
	background-color: var(--color-dark-gray);
}

.main-button {
	background-color: var(--color-main);
	border: none;
}
.btn.main-button.active, .btn.main-button.show, .btn.main-button:first-child:active, .main-button:hover, .main-button:focus-visible, :not(.btn-check) + .main-button.btn:active {
	background-color: var(--color-main-dark);
}

.dashed-line {
	flex-grow: 1;
	border: 1px dashed var(--color-dark-gray);
	height: 1px;
}

.footer {
	color: rgba(255, 255, 255, 0.5);
	background-color: black;
	font-size: 14px;
}

input.form-control {
	border-radius: var(--border-radius);
	border-color: var(--color-dark-gray);
}

.form-floating > .form-control, .form-floating > .form-control-plaintext {
	padding: .375rem 1.25rem;
}

.form-floating > label {
	color: var(--color-dark-gray);
	padding: 1rem 1.25rem;
}

.form-floating-with-button {
	position: relative;
}

.form-floating-with-button .form-floating > .form-control, .form-floating-with-button .form-floating > .form-control-plaintext {
	padding-right: 150px;
}

.form-floating-inner-button {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0 var(--pd-3);
}

.code-input-wrapper {
	width: 100%;
	display: flex;
	padding-bottom: var(--pd-3);
}

.code-input {
	text-align: center;
	border: none;
	border-bottom: 1px solid var(--color-dark-gray);
	width: 1em;
	flex: 1 0 1em;
	font-size: 30px;
	background: none;
	color: var(--color-dark-gray);
}

.code-input:focus-visible {
	border: 1px solid var(--color-dark-gray);
	outline: none;
}

.code-input:not(:last-child) {
	margin-right: var(--pd-3);
}
