@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
     background-color: rgb(240, 248, 248);  /* Задаем цвет фона */
     color: #0f141e; /* Цвет шрифта для всего сайта */
     font-size: 13px; /* Размер шрифта для всего сайта */
     box-sizing: inherit;
     font-weight: normal; /* Жирность шрифта для всего сайта */
     font-family: 'Helvetica Neue', 'Open Sans', 'sans-serif'; /* Последовательно задаем шрифты, какие хотим видить на сайте */
}



.logo {

    width: 120px; /* Определяем размер картинки */
    margin:auto;
    border-radius: 22px;
    padding-left: 40px;
    padding-top: 25;
}

.container {
    max-width: 1350px; /* Максимальная ширина сайта 1350px, при уменьшении сайт адаптируется */
    margin:auto; /* блок центруем по середине */
  /*   background: rgb(209, 205, 202); */

}

/* меню серху "каталог", "о компоании" и тд. */
.menu_1 {
    padding-left: 70px; 
    padding-top: 35px; 
    display: inline-block;"
}

.background_main {
    background-image: url('static/media/main_photo_crystal.png');
}