{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="{% static '/css/style.css'%}" rel="stylesheet" type="text/css" /> 
</head>
<body>
    
 {% block mainmenu %}   

 <img class="logo" src= "{% static '/media/logo/logocrystal.png'%}"
        alt="что-то случилось и лого исчезло"/> 


 {% for m in menu %}
     {% if not forloop.last %}
    
             <a class="menu_1" href="{% url m.url_name %}"> {{m.title}} </a>
     {% else %}
             <a class="menu_1" href="{% url m.url_name %}"> {{m.title}} </a>
    {% endif %}
{% endfor %}

 {% endblock %}   

{% block content %}

{% endblock %}

</body>
</html>