{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <!-- Список категорий -->
        <div class="col-md-3">
            <h4>Категории</h4>
            <ul>
                {% comment %} {% for category in categories %}
                    <li><a href="{% url 'category' category.id %}">{{ category.title }}</a></li>
                {% endfor %} {% endcomment %}
            </ul>
        </div>


 <!-- Меню категорий -->
 <div class="col-md-3">
   <h4>Категории</h4>
   <ul class="list-group">
       {% for category in categories %}
       <li class="list-group-item">
           {% comment %} <a href="{% url 'category' category.id %}">{{ category.title }}</a> {% endcomment %}
       </li>
       {% endfor %}
   </ul>
</div>


        <div class="col-md-9">
            <!-- Поисковая форма -->
            <form method="get">
                {{ form.query.label }}: {{ form.query }}
                <button type="submit">Поиск</button>
            </form>

            <!-- Акции -->
            <div class="promotions">
                <h4>Акции</h4>
                {% for promotion in promotions %}
                    <div class="promotion">
                        <strong>{{ promotion.product.title }}</strong>
                        <p>{{ promotion.description }}</p>
                    </div>
                {% endfor %}
            </div>

            <!-- Продукты -->
            <h4>Продукты</h4>
            <div class="products">
                {% for product in products %}
                    <div class="product">
                        <h5>{{ product.title }}</h5>
                        <p>Цена: {{ product.price }}</p>
                        <p>{{ product.content }}</p>
                        {% comment %} <a href="{% url 'product_detail' product.id %}">Подробнее</a> {% endcomment %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}












{% comment %} {% block content %}
<h1> {{title}} </h1>

<ul>
   {% for product in products %}
   <li>
      <h2> {{product.title}} </h2>  
      <p> {{product.content}} </p>  
      <p> {{product.width}} </p>  
      <hr>
   </li>
   {% endfor %}
</ul>

{% endblock %} {% endcomment %}